.home{
    background-color: rgb(22, 3, 89);
    height: 100%;
    padding: 0 140px;
    background-image: url('https://pixner.net/boleto/demo/assets/images/banner/banner02.jpg');
    background-repeat: no-repeat;
}
